.body{
    font-family: "筑紫B丸ゴシック", "ヒラギノ丸ゴ ProN";
    background-color: #F7F5F2;
}

.navbar{
    background-color: #;
}

/*フォームの位置を整える方法がこの方法しか思いつきませんでした。他に良い方法があれば変えておいてもらえるとありがたいです。*/
.input_form{
    text-align:center;
}

select,input{
    padding: 0rem 0.5em;
    height: 2.5rem;
    width: 10rem;
    border-radius: 0.3rem;
    border: 0.3px solid #8D8DAA;
    background-color: rgba(256, 0, 0, 0.1);
}