{% extends "layout.html" %}

{% block title %}
    おきにいり
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>経由地名</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <script a=0></script>

        {% set a = namespace(cnt=0) %}
        {% for favorite in favorite %}
        <tr>
            <td>{{ favorite.name }}</td>
            <td><button onclick="location.href='{{favorite.url}}'"
                class="btn btn-outline-danger">MAPを開く</button></td>
        </tr>
        {% set a.cnt = a.cnt + 1 %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}