{% extends "layout.html" %}

{% block title %}
    履歴
{% endblock %}

{% block main %}
<{if $favorite_num != 0}>
  <div class="section__block favorite__section">
    <h2 class="section__title-h2 txt--c border--none">お気に入り</h2>
    <ul class="via-list">
      <{section name=num loop=$favorite}>
        <li class="via-list__unit via-list__unit-sm">
          <a href="<{$favorite[num].link_url}>">
            <{if $favorite[num].img_url != ""}>
              <img src="<{$favorite[num].img_url}>" alt="<{$favorite[num].name}>" class="product-list__image" />
            <{else}>
              <img src="https://img.shop-pro.jp/tmpl_img/81/noimage.png" alt="<{$favorite[num].name}>" class="product-list__image" />
            <{/if}>
          </a>
          <p class="product-list__prices">
            <{if !$favorite[num].soldout_flg}>
              <{if $members_login_flg && $favorite[num].discount_flg}>
                <span class="product-list__price-regular product-list__text">
                  <{$favorite[num].regular_price}>
                </span>
              <{/if}>
              <span class="product-list__price product-list__text<{if $members_login_flg && $favorite[num].discount_flg}> txt--red<{/if}>">
                <{$favorite[num].price}>
              </span>
              <{if $members_login_flg && $favorite[num].discount_flg}>
                <span class="product-list__discount-rate product-list__text">
                  <{$favorite[num].discount_rate}>OFF
                </span>
              <{/if}>
            <{else}>
              <span class="product-list__price-soldout product-list__text">
                SOLD OUT
              </span>
            <{/if}>
          </p>
        </li>
      <{/section}>
    </ul>
  </div>
<{/if}>
{% endblock %}