{% extends "layout.html" %}

{% block title %}
ホーム
{% endblock %}

{% block main %}
<div class="via_system">
    <div class="input_form">
        <form method="POST" action="/via">
            <div class="mb-3">
                所要時間
                <input name="limit" placeholder="分">
            </div>
            <div class="mb-3">
                出発地点
                <input name="origin">
            </div>
            <div class="mb-3">
                目的地
                <input name="destination">
            </div>
            <div class="mb-3">
                手段
                <select class="form-select" aria-label="Default select example" name="means">
                    <option value="driving">車</option>
                    <option value="bicycling">自転車</option>
                    <option value="walking">歩き</option>
                </select>
            </div>
    </div>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()" id="btn">レストラン</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">飲食点</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">寿司</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">駅</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">遊園地</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">観光スポット</button><br>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">美術館、博物館</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">薬局</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">コンビニ</button>
    <button type="button" class="btn btn-outline-info rounded-pill" onclick="buttonClick()">カフェ</button><br>
    <button type="submit" class="btn" id="target" name="place" onclick="location.href='./via.html'">決定</button>
    </form>
    <div>
        <p id="route-time"></p>
    </div>
    {% endblock %}