{% extends "layout.html" %}

{% block title %}
ホーム
{% endblock %}

{% block main %}
<script src="/static/js/google.js"></script>
<div class="via_system">
    <form method="POST" action="/via" style="text-align:center">
        <div class="mb-3">
            所要時間
            <input name="limit">分
        </div>
        <div class="mb-3">
            目的地
            <select class="form-select" aria-label="Default select example" name="destination">
                <option value="1">名古屋テレビ塔</option>
                <option value="2">大須商店街</option>
                <option value="3">名古屋市科学館</option>
            </select>
        </div>
        <div class="mb-3">
            手段
            <select class="form-select" aria-label="Default select example" name="means">
                <option value="driving">車</option>
                <option value="bicycling">自転車</option>
                <option value="walking">歩き</option>
                <option value="transit">公共交通機関</option>
            </select>
        </div>
        <button type="submit" class="btn" id="target" name="place">決定</button>
    </form>
    {% if a==1 %}
    <h2>経由地は{{ via_name }},所要時間は{{ duration }},移動距離は{{ distance }}です。</h2>
    <a href={{ url }} style="text-align:center">{{ url }}</a>
    {% endif %}

    <div>
        <p id="route-time"></p>
    </div>
{% endblock %}