{% extends "layout.html" %}

{% block title %}
    キーワード
{% endblock %}

{% block main %}
<!--   jQueryライブラリ読み込み -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    {% if tenantkey[2] == 0 %}
        <h3>今日のキーワード</h3>
        <p style="font-size:xxx-large">{{ tenantkey[1] }}</p>
        <p style="margin-top:30px">キーワード設定モード</p>
        <input type="checkbox" data-toggle="toggle" data-onstyle="danger" data-on="ON" date-off="OFF" id="mode">
    {% elif tenantkey[2] == 1 %}
        <form action="/keyword" method="post" enctype="multipart/form-data">
            <input type="text" name="keyword" size="15" maxlength="20" placeholder="キーワード" value={{ tenantkey[1] }}>
            <button class="btn submit_btn btn-outline-danger btn_clear" type="submit">設定</button>
        </form>
        <p style="margin-top:30px">キーワード設定モード</p>
        <input type="checkbox" data-toggle="toggle" data-onstyle="danger" data-on="ON" date-off="OFF" id="mode" checked>
    {% endif %}

    <script>
        $("#mode").change(function(){
        if($(this).prop("checked") == true){
            $.ajax({
            url: 'keyword',
            type: 'post',
            data: {mode:1}
            })
            location.reload()
        }else{
            $.ajax({
            url: 'keyword',
            type: 'post',
            data: {mode:0}
            })
            location.reload()
        }
        });
    </script>
{% endblock %}