{% extends "layout.html" %}

{% block title %}
    テナント情報入力
{% endblock %}
{% block main %}
<h3>登録済み店舗情報</h3>
    {% if tenants == None %}
    <p>店舗情報が登録されていません</p>
    <h3>店舗登録</h3>
    {% else %}
            <p style="font-weight:bold">店舗名</p>
            <p>{{ tenants[1] }}</p>
            {% if tenants[5] != None %}
                    <img src=../static/upload/tenantimg/{{ tenants[5] }} width="40%" style="margin-bottom: 10px;">
            {% endif %}
            <p style="font-weight:bold">郵便番号</p>
            <p>{{ tenants[2] }}</p>
            <p style="font-weight:bold">住所</p>
            <p>{{ tenants[3] }}</p>
            <p style="font-weight:bold">電話番号</p>
            <p>{{ tenants[4] }}</p>
            <p style="border-bottom: double 6px #dc3545!important;"></p>
            <h3>店舗情報変更</h3>
    {% endif %}
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <form action="/tenanthome" method="post" enctype="multipart/form-data">
        <p style="font-weight:bold">店舗名</p>
        <div class="mb-3">
            <input id="name" name="name" placeholder="店舗名" type="text" class="form-control mx-auto w-auto" value={{ tenants[1] }}>
        </div>
        <p style="font-weight:bold">店舗の写真</p>
        <div class="mb-3">
            <input class="form-control" type="file" name="imgfile" accept=".jpg,.gif,.png,image/gif,image/jpeg,image/png" style="width:50%; display:revert" value={{ tenants[5] }}>
        </div>
        <p style="font-weight:bold">電話番号(ハイフンなし)</p>
        <div class="mb-3">
            <input type="tel" name="tel" size="15" maxlength="15" placeholder="電話番号" class="form-control mx-auto w-auto" value={{ tenants[4] }}>
        </div>
        <p style="font-weight:bold">郵便番号</p>
        <div class="mb-3">
            <!-- ▼郵便番号入力フィールド(7桁) -->
            <input type="text" name="postcode" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr','addr');" placeholder="郵便番号" class="form-control mx-auto w-auto" value={{ tenants[2] }}>
        </div>
        <p style="font-weight:bold">都道府県＋以降の住所</p>
        <div class="mb-3">
            <!-- ▼住所入力フィールド(都道府県+以降の住所) -->
            <input type="text" name="addr" size="60" placeholder="住所" class="form-control mx-auto w-auto" value={{ tenants[3] }}>
        </div>
        <button class="btn" type="submit">登録</button>
    </form>
{% endblock %}