{% extends "layout.html" %}

{% block title %}
経由地
{% endblock %}

{% block main %}
<h2>経由地一覧</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>経由地名</th>
            <th>所要時間</th>
            <th>道のり</th>
        </tr>
    </thead>
    <tbody>
        <script a=0></script>
        <!-- TODO: Loop through the database entries to display them in this table -->
        <!-- TODO: データベースエントリをループしてこのテーブルに表示します -->
        {% for via in via %}
        <tr>
            <td>{{ via.name }}</td>
            <td>{{ via.add_duration }}</td>
            <td>{{ via.add_distance }}</td>
            <td>
                <form action="/" method="POST">
                    <button type="submit" class="btn btn-secondary bg-success">表示する</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}