{% extends "layout.html" %}

{% block title %}
経由地
{% endblock %}

{% block main %}
<h2>経由地一覧</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>お気に入り</th>
            <th>評価</th>
            <th>経由地名</th>
            <th>写真</th>
            <th>所要時間</th>
            <th>道のり</th>
            <th>MAP</th>
        </tr>
    </thead>
    <tbody>
        <script a=0></script>

        {% set a = namespace(cnt=0) %}
        {% for via in via %}
        <tr>
            <td>
                {% if favorite[a.cnt] == 0 %}
                <form method="POST" action="/add_favorite">
                    <button type="submit" class="btn addtofavorite" id="target" name="place" value="add _=_ {{ via.name }} _=_ {{ via }} _=_ {{ url }} _=_ {{ means }} _=_ {{ detail }} _=_ {{ favorite }} _=_ {{ [a.cnt] }}">☆</button>
                </form>
                {% else %}
                <form method="POST" action="/add_favorite">
                    <button type="submit" class="btn addtofavorite removefavorite hidden" id="target" name="place" value="remove : {{ via.name }}">★</button>
                </form>
                {% endif %}
            </td>
            <td>{{ detail[a.cnt]['rating'] }}</td>
            <!--できてるかな？？？よくわからん？？？？-->
            {% if detail[a.cnt]["photo_reference"] == "" %}
            <td><span>画像が無いよ！！</span></td>
            {% else %}
            <td><img
                    src="../static/img/181_1.jpg">
            </td>
            {% endif %}
            <td>{{ via.name }}</td>
            <td>{{ via.add_duration }}</td>
            <td>{{ via.add_distance }}</td>
            <td>
                {% if session_id == 0 %}
                <form method="POST" action="/add_history">
                    <button type="submit" class="btn" id="target" name="place"
                        value="url:{{ url[a.cnt] }}name:{{ via.name }}distance:{{ via.add_distance }}means:{{ means }}duration:{{ via.add_duration }}destination:{{ destination }}">Mapで開く</button>
                </form>
                {% else %}
                <button type="button" class="btn" id="target" onclick="location.href='{{ url[a.cnt] }}'">MAPで開く</button>
                {% endif %}
            </td>
        </tr>
        {% set a.cnt = a.cnt + 1 %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}