{% extends "layout.html" %}

{% block title %}
経由地
{% endblock %}

{% block main %}
<h2>経由地一覧</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>お気に入り</th>
            <th>評価</th>
            <th>経由地名</th>
            <th>写真</th>
            <th>所要時間</th>
            <th>道のり</th>
            <th>MAP</th>
        </tr>
    </thead>
    <tbody>
        <script a=0></script>

        {% set a = namespace(cnt=0) %}
        {% for via in via %}
        <tr>
            <td>
                    <form method="POST" action="/add_history">
                        <button type="submit" class="btn addtofavorite" id="target" name="place" value=url:{{ url[a.cnt] }}name:{{ via.name }}distance:{{ via.add_distance }}means:{{ means }}>☆</button>
                    </form>
                    <button class="btn removefavorite hidden">★</button>
            </td>
            <td>{{ detail[a.cnt]['rating'] }}</td>
            <td><img
                src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=150&photoreference={{ detail[a.cnt]['photo_reference'][0]['photo_reference'] }}&key={{ key }}"></td>
            <td>{{ via.name }}</td>
            <td>{{ via.add_duration }}</td>
            <td>{{ via.add_distance }}</td>
            <td>
                <form method="POST" action="/add_history">
                    <button type="submit" class="btn" id="target" name="place" value="url:{{ url[a.cnt] }}name:{{ via.name }}distance:{{ via.add_distance }}means:{{ means }}">Mapで開く</button>
                </form>
                <a href={{ url[a.cnt] }}>Mapで開く</a>
            </td>
        </tr>
        {% set a.cnt = a.cnt + 1 %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}